[project]
	description = Simple testing in IDL
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/subagonsouth
[access "refs/for/refs/*"]
	read = group user/subagonsouth
	push = group user/subagonsouth
	label-Code-Review = -2..+2 group user/subagonsouth
	label-Verified = -1..+1 group user/subagonsouth
	rebase = group user/subagonsouth
	removeReviewer = group user/subagonsouth
	submit = group user/subagonsouth
[access "refs/heads/*"]
	read = group user/subagonsouth
	create = group user/subagonsouth
	push = +force group user/subagonsouth
	pushMerge = group user/subagonsouth
[access "refs/tags/*"]
	push = group user/subagonsouth
	push = +force group user/subagonsouth
